.content {
    width: 70%;
    height: fit-content;
    padding: 10px 20px 10px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 3rem;
}

p {
    width: 80%;
    text-align: center;
}